.container {
    padding: 2rem 0rem;
    background-color: dimgray;
}

h4#title {
    font-weight: bolder;
} h4 {
    margin: 2rem 0rem 1rem;
}

td,
th {
    vertical-align: middle;
    color: white;
}

tr {
    border: darkslategray;
    color: white;
}
body{
    background-color: rgb(27,240,220);
}